@import './normalze';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import './config';

body {
  font-size: $font-base;
  display: flex;
  flex-direction: column;
  font-family: $font-name;
}

#app {
  min-height: 100vh;
  overflow-x: hidden;
}

@import './utilities';
@import './elements/index.scss';
