.dropdown {
  padding: 1em 2em;
  display: inline-flex;
  position: relative;
  border-radius: $radius;

  & > &_trigger {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > span {
      flex-grow: 1;
    }

    & > * + * {
      margin-left: 1em;
    }
  }

  & > &_content {
    position: absolute;
    top: calc(100% + 0.25em);
    left: 0;
    width: 100%;
  }
}
