@import './card.scss';
@import './topbar.scss';
@import './input.scss';
@import './dropdown.scss';
@import './button.scss';
@import './detail.scss';

/* -- Icon -- */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
