.input-container {
  display: inline-flex;
  align-items: center;
  padding: 1em 2em;
  border-radius: $radius;

  width: 100%;
  max-width: 34rem;
  box-sizing: border-box;

  & > svg[role='icon'] {
    width: 1.25em;
    height: 1.25em;
    fill: currentColor;
  }

  & > * + * {
    margin-left: 1em;
  }

  & > input {
    border: none;
    background-color: transparent;
    color: currentColor;
    flex-grow: 1;
    margin-top: -1em;
    margin-bottom: -1em;
    padding: 1em 0;

    &:focus,
    &:active {
      outline: none;
    }
  }

  & > input:last-child {
    margin-right: -2em;
    padding-right: 2em;
  }
}
